<h1>Palindrome Checker</h1>



<%= form_for :palindrome, url: 'palindrome/check' do |form| %>

<label for="fname">Enter word to check...</label><br>
<input type="text" id="palindrome" name="palindrome">
<input type="submit" value="Check">
<% end %>
